* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.container {
  max-width: 400px;
  width: 100%;
  background-color: white;
}

.container .form {
  padding: 30px;
}

.container .form .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form .input-field {
  margin: 20px auto;
  height: 30px;
  width: 100%;
}

.input-field input {
  height: 100%;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
}

.error-message {
  font-size: 0.85rem;
  color: red;
}

.input.input-error {
  border: 1px solid red;
}

.form .button input {
  border: none;
  background-color: #4070f4;
  color: white;
  letter-spacing: 1px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #265df2;
}

/* Style for focused elements */
:focus {
  outline: 2px solid blue;
}

/* Confirm exit popup */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.modal-show {
  opacity: 1;
  pointer-events: unset;
}

.modal-container {
  margin: auto;
  width: 30%;
  border-radius: 8px;
  padding: 3em 2.5em;
  background-color: white;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}