<div class="form login">
  <span id="title" class="title" role="heading">Login</span>
  <form id="login-form" action="#dashboard">
    <div class="input-field">
      <input
        id="email-field"
        class="main-btn"
        type="text"
        placeholder="Enter your email"
        role="textbox"
        aria-label="Email field"
        aria-labelledby="title"
        aria-required="true"
        required
      />
      <span class="error-message" aria-live="assertive"></span>
    </div>
    <div class="input-field">
      <input
        id="password-field"
        class="main-btn"
        type="password"
        placeholder="Enter your password"
        role="textbox"
        aria-label="Password field"
        aria-labelledby="title"
        aria-required="true"
        required
      />
      <span class="error-message" aria-live="assertive"></span>
    </div>
    <div class="input-field button">
      <input
        class="main-btn"
        type="submit"
        value="Login now"
        role="button"
        aria-labelledby="title"
      />
    </div>
  </form>
</div>
