/* Confirm exit popup */
.modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  display: flex;
  /*justify-content: center;
  align-items: center; */
  opacity: 0;
  /* pointer-events: none; */
}

.modal-container {
  width: 30%;
  /* transform: translate(-50%, -50%); */
  margin: auto;
  border-radius: 8px;
  /* padding: 1rem 1.5rem; */
  padding: 25px;
  background-color: white;
  display: flex;
  place-items: center;
  /* grid-auto-columns: 25%; */
  flex-direction: column;
}

.modal .modal-btn {
  border: none;
  background-color: #4070f4;
  color: white;
  margin: 15px;
  letter-spacing: 1px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  padding: 15px;
  transition: all 0.3s ease;
}

.modal-show {
  opacity: 1;
  /* pointer-events: unset; */
}
