.form {
  width: 800px;
  padding: 30px;
  background-color: white;
}

.form .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form .input-field {
  margin: 20px auto;
  height: 30px;
  width: 100%;
}

.input-field input {
  height: 100%;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
}

.error-message {
  font-size: 0.85rem;
  color: red;
}

.input.input-error {
  border: 1px solid red;
}

.form .button input {
  border: none;
  background-color: #4070f4;
  color: white;
  letter-spacing: 1px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #265df2;
}
